:root {
    --space-s: 20px;
    --space-xs: 8px;
}

body {
    margin: 0px;
}

#dashboard {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 80%;
}

#sidebar {
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    height: 100vh;
    padding: 20px;
}

#sidebar-logo {
    width: clamp(150px, 100%, 300px);
}

.sidebar-block {
    display: flex;
    flex-direction: column;
    height: auto;
}

.navigation__list {
    list-style: none;
    padding: 0px;
    
}

.navigation__list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--space-s);

    align-items: center;
    gap: var(--space-xs);

    color: white;
}

.navigation__list-item p {
    margin: 0px;
}

#main-content {
    background-color: gray;
}

#user-section {
    display: grid;
    grid-template-rows: minmax(200px, 20%) 80%;
}

