:root {
    --space-s: 20px;
    --space-xs: 8px;
    --space-m: 30px;

    --radius-m: 13px;
    --radius-xl: 9999px;

    --text-s: 1.2rem;
    --text-m: 1.4rem;
    --text-l: 1.6rem;
    --text-xl: 2.4rem;

    --gray: #dfe7f0;
    --blue: #4e42f5;
    --orange: #FFC07F;
    --body-color: #707070;

    font-size: 62.5%;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;

    font-size: 1.4rem;
}

body p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.shadow {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
}

#dashboard {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 80%;
}

/* Sidebar section start */

#sidebar {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    height: 100vh;
    padding: 20px;
    font-size: var(--text-l);
}

#sidebar-logo {
    width: clamp(150px, 100%, 300px);
}

.sidebar-block {
    display: flex;
    flex-direction: column;
    height: auto;
}

.navigation__list {
    list-style: none;
    padding: 0px;
    
}

.navigation__list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--space-s);

    align-items: center;
    gap: var(--space-xs);

    color: white;
    font-weight: 800;
}

.navigation__list-item p {
    margin: 0px;
}

/* Sidebar section end */
/*======================*/
/* Header section start */

#header {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    padding: 20px 40px;
}

.header__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__bottom {
    justify-content: space-between;
    align-items: center;
}

.search-wrapper, .user-info__wrapper, .button-wrapper, .welcome__wrapper, .header__bottom {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
}

.user-info__wrapper {
    align-items: center;
}

.welcome__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    justify-content: center;
}

.welcome__text-wrapper p {
    margin: 0px;
}

.welcome__text-top {
    font-weight: 600;
}

.info__name {
    font-size: var(--text-l);
}

.info__name, .welcome__text-bottom {
    font-weight: 800;
}

.welcome__text-bottom {
    font-size: var(--text-xl);
}

.info__avatar {
    width: 50px;
    height: 50px;
}

.big-avatar {
    width: 95px;
    height: 95px;
}

.info__avatar, .big-avatar {
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
}

.search-wrapper {
    width: clamp(200px, 40%, 600px);
}

#search {
    background-color: var(--gray);
    border: none;
    border-radius: var(--radius-xl);

    padding: 8px 12px;
    width: 100%;
}

.btn {
    color: white;
    background-color: var(--blue);

    padding: 10px 30px;
    border: none;

    border-radius: var(--radius-xl);

    font-weight: 800;
    font-size: var(--text-l);
}

/* Header section end */
/*======================*/
/* Main section start */

#main-content {
    background-color: var(--gray);
    padding: var(--space-m) var(--space-s);

    display: flex;
    flex-direction: row;
    gap: var(--space-m);
}

.project__container {
    display: flex;
    flex-direction: column;
    width: 80%;

    gap: var(--space-s);
}

.project__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--space-m);
}

.project__card {
    background-color: white;
    padding: var(--space-s);
    padding-left: calc(var(--space-s) + 9px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-s);

    border-radius: var(--radius-m);
    position: relative;
}

.project__card:before {
    position: absolute;
    content: '';

    top: 0;
    left: 0;

    width: 9px;
    height: 100%;
    background-color: orange;
    border-radius: var(--radius-m) 0 0 var(--radius-m);
}

.project__card-top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project__card-bottom-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: end;
    gap: var(--space-s);
}

.project__card-desc {
    color: var(--body-color);
}

#user-section {
    display: grid;
    grid-template-rows: minmax(200px, 20%) 80%;
}

.mini-sidebar__container {
    width: 20%;
}

